import { defineConfig } from "vite";
import solid from "vite-plugin-solid";
import { glasshomeWidgets } from "@glasshome/widget-sdk/vite";

export default defineConfig({
  plugins: [solid(), ...glasshomeWidgets()],
  preview: {
    port: 5174,
    host: true,
    cors: true,
  },
});
